.TradeDataPage {
    background-color: white;
    width: 100%;
    height: calc(100vh - 205px);
}

.TradeDataDropdownGroup {
    width: calc(100% - 200px);
    padding: 50px 0 0 100px;
}

.TradeDataDropdownGroup > div {
    display: inline-block;
    margin: 0 50px 0 0;
}

.TradeDataButtonGroup {
    padding: 50px 0 0 100px;
}

.TradeDataButton {
    display: inline-block;
    margin: 0 40px 0 0;
}

.TradeDataUploadMoreDataButton {
    margin: 20px 50px 0 0;
    float: right;
}

@media only screen and (max-width: 1280px) {

    .TradeDataDropdownGroup > div {
        display: inline-block;
        margin: 0 20px 0 0;
    }
}