.TradeDataPage {
    background-color: white;
    /*dark mode color #222736*/
    width: 100%;
    height: fit-content;
}

.TradeDataDropdownGroup {
    width: calc(100% - 200px);
    padding: 50px 0 0 100px;
}

.TradeDataDropdownGroup > div {
    display: inline-block;
    margin: 0 50px 0 0;
}

.TradeDataButtonGroup {
    padding: 50px 0 0 100px;
}

.TradeDataButton {
    display: inline-block;
    margin: 0 40px 0 0;
}

.TradeDataUploadMoreDataButton {
    margin: 20px 50px 0 0;
    float: right;
}

.TradeCharts {
    margin: 50px 0 0 50px;
}

.TradeChartGroup {
    width: fit-content;
}

.TradeChartGroup > div {
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin: 0 20px 20px 0;
    height: 370px;
    vertical-align: top;
}

.DarkMode .TradeChartGroup > div {
    box-shadow: rgba(150, 150, 150, 0.35) 0 5px 15px;
}

@media only screen and (max-width: 1280px) {

    .TradeDataDropdownGroup > div {
        display: inline-block;
        margin: 0 20px 0 0;
    }
}