.UploadFilesButton {
    display: inline-block;
}

.UploadFilesButton button {
    border: none;
    background: #474cb0;
    cursor: pointer;
    padding: 15px 15px;
    font-size: inherit;
    color: white;
    max-width: 200px;
    border-radius: 5%;
}

.UploadFilesButton button:active {
    border: none;
    background: darkblue;
    cursor: pointer;
    padding: 15px 15px;
    font-size: inherit;
    color: white;
    transform: translateY(2px);
}