.NavBar {
    width: 100%;
    height: 40px;
    margin: 10px 0 5px 0;
}

.NavBarRight {
    display: inline-block;
    float: right;
    height: 100%;
    padding: 0 10px 0 10px;
}

.NavBarRightWords {
    margin: 10px;
    cursor: pointer;
}