.map-container {
    width: 1000px;
    height: 600px;
}

.ipicMapContainer {
    display: inline-block;
}

.googleMapsLegend {
    display: inline-block;
    width: 120px;
    height: 110px;
    background-color: #e9ecef;
    padding: 10px 0 0 10px;
    border: 2px solid #bbb;
    vertical-align: top;
    margin: 0 0 0 20px;
}

.legendHigh {
     height: 22px;
     width: 22px;
     background-color: #ff0000;
     border-radius: 50%;
     display: inline-block;
}

.legendMedium {
    height: 22px;
    width: 22px;
    background-color: #ffc107;
    border-radius: 50%;
    display: inline-block;
}

.legendLow {
    height: 22px;
    width: 22px;
    background-color: #0dcaf0;
    border-radius: 50%;
    display: inline-block;
}

.legendValueContainer > p {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
}