.map-container {
    width: 1000px;
    height: 600px;
}

.ipicMapContainer {
    display: inline-block;
}

.googleMapsLegend {
    display: inline-block;
    width: 120px;
    height: 110px;
    background-color: #e9ecef;
    padding: 10px 0 0 10px;
    border: 2px solid #bbb;
    vertical-align: top;
    margin: 0 0 0 20px;
}

.legendValueContainer {
    margin-bottom: 5px;
}

.legendValueContainer > p {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
    color: black !important;
}