.AppMainPage {
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.DarkMode {
    background-color: #222736 !important;
    color: white;
}

.HeaderDarkMode {
    background-color: #1D6984 !important;
}