.GeolocationPage {
    background-color: white;
    width: 100%;
    height: fit-content;
}

.GeolocationDropdownGroup {
    width: calc(100% - 200px);
    padding: 50px 0 0 100px;
}

.GeolocationDropdownGroup > div {
    display: inline-block;
    margin: 0 50px 0 0;
}

.GeolocationButton {
    display: inline-block;
    margin: 0 40px 0 0;
}

.GeolocationUploadMoreDataButton {
    margin: 20px 50px 0 0;
    float: right;
}

.googleMapsContainer {
    margin: 50px 0 0 100px;
    height: 650px;
}

.GeolocationExportButton {
    display: block;
    padding: 50px 0 0 100px;
}

.GeolocationExportButton > div {
    margin: 0 0 0 900px;
}

.csvLink {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 150px;
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    float: right;
}

.csvLink:hover, .clearFiltersButton:hover {
    font-weight: normal;
    color: white;
}

.csvLink:active, .clearFiltersButton:active {
    transform: translateY(2px);
    outline: none;
}

@media only screen and (max-width: 1280px) {

    .GeolocationDropdownGroup > div {
        display: inline-block;
        margin: 0 20px 0 0;
    }
}